name = "TavaresSonoraPantanoMartinez2026"
uuid = "ff7517ae-af6e-4d89-82d5-2271ce031169"
authors = ["Camila A. Tavares, Martín Soñora, Sergio Pantano, Leandro Martínez"]
version = "1.0.0-DEV"

[compat]
julia = "1.1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
